@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

li, ul, menu{
  list-style: none;
}

.row{
  display: flex;
}

/* DEBUG */

.debug header .row > *{
  border: 1px solid blue;
}

/* UIILITIES */

body{
  font-family: 'Noto Sans HK', sans-serif;
}

/* LAYOUT */

.container-lg{
  width: 100%;
}

.container{
  max-width: 1200px;
}

.container-sm{
  max-width: 1000px;
}

/* header */

header{
  padding: 20px;
}

header .row{
justify-content: space-between;
}

header .row > ul{
  display: flex;
  align-items: center;
  gap: 15px;

}

.logo-menu .row{
  justify-content: center;
}

.active-menu .row{
  justify-content: center;
}
.active-menu li:last-child{
  line-height: 20px;
}